@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&family=Water+Brush&display=swap');

/***************************************** Home Page CSS ************************************************/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Naviigation bar */
.main-navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

/* Conatiner-1 */
.container-1 {
    background-image: url("/Images/bghome.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-half {
    display: flex;
    width: 100%;
    margin-left: 30px;
}

.logo {
    width: 20%;
    margin: 24px 20px 20px 2px;
}

.menu {
    display: flex;
    font-size: 16px;
    margin-top: 32px;
}

a {
    color: white;
    text-decoration: none;
}

.menu>a {
    margin-left: 5px;
}

.menu p {
    padding-left: 20px;
}

.second-half {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 30px;
    margin-top: 30px;
}

.login-button {
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    border: solid 1px #fff;
    color: #fff;
    background: transparent;
    margin: 0 10px 0 10px;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
}

.globeLang {
    margin-left: 5px;
    margin-top: 12px;
}

.text-content {
    margin-top: 7%;
}

h1 {
    text-align: center;
    letter-spacing: 1.3px;
}

.line1 {
    font-weight: 100;
    font-size: 55px;
}

.line2 {
    font-weight: 400;
    font-size: 55px;
    margin-left: 15px;
}

.line3 {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    letter-spacing: 1.3px;
}

.line4 {
    width: 200px !important;
    border-radius: 100px;
    border: solid 1px #fff;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 50px;
    margin-left: 40%;
}

/* Container-2 */
.title {
    color: #444444;
    padding: 80px 100px 70px;
    font-size: 25px;
    letter-spacing: 1.3px;
    text-align: center;
}

.underline {
    justify-content: center;
    border: 2px solid #bb1600;
    background-color: #bb1600;
    width: 80px;
    height: 3px;
    margin: 10px auto;
}

.theme-para {
    color: #383838;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
    margin-left: 150px;
    margin-right: 150px;

}

/* Container-3 */
.container-3 {
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

/* Conatiner-4 */
.container-4 {
    background-color: #F6F7F9;
    margin-top: 7%;
}

.container-4-part {
    display: flex;
}

.container-4-part-1 {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 5%;
}

.container-4-part-2 {
    color: #383838;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 210px;
    line-height: 1.4;
}

.start-button {
    width: 200px !important;
    border-radius: 100px;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 50px;
}

/* Contaainer-5 */
.container-5 {
    width: 100%;
    display: flex;
}

.container-5-part-1 {
    width: 45%;
}

.travelBlog-title {
    color: #444444;
    padding: 100px 90px 60px 180px;
    font-size: 25px;
    letter-spacing: 1.3px;
    text-align: left;
    width: 100%;
}

.travelBlog-title>p {
    font-weight: 100;
    font-size: 34px;
    letter-spacing: 1.7px;
}

.travel-underline {
    border: 2px solid #bb1600;
    background-color: #bb1600;
    width: 80px;
    height: 3px;
    margin-top: 10px;
}

.underline-color {
    display: flex;
    justify-content: flex-end;
}

.container-5-text {
    color: #383838;
    font-size: 17px;
    font-weight: 300;
    text-align: right;
    padding-left: 200px;
    padding-right: 90px;
    line-height: 1.4;
    max-width: 100%;
}

.travel-button {
    width: 200px !important;
    border-radius: 100px;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 70px;
    margin-left: 200px;
}

.container-5-part-2 {
    width: 50%;
    margin-top: 12%;
    margin-left: 20px;
}

.myImg {
    width: 100%;
}

/* Container-6 */
.container-6 {
    margin-top: 20px;
    padding-bottom: 135px;
    background-color: rgb(246, 247, 249);
}

.features-title {
    color: #444444;
    padding: 100px 90px 30px;
    font-size: 25px;
    letter-spacing: 1.3px;
    text-align: center;
    width: 100%;
}

.features-para {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    color: #383838;
}

.features-details {
    display: flex;
    margin-top: 80px;
}

.mobOpti {
    margin-left: 100px;
}

.stunningTheme {
    padding-left: 80px;
}

.guide {
    padding-left: 80px;
}

.custSupp {
    padding-left: 80px;
    margin-right: 100px;
}

.image {
    text-align: center;
}

.heading {
    font-size: 15px;
    font-weight: bold;
    color: #444444;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1.5px;
    width: 270px !important;
}

.paragraph {
    font-size: 17px;
    font-weight: 300;
    color: #383838;
    line-height: 1.4;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.feature-button {
    width: 200px !important;
    border-radius: 100px;
    background-image: linear-gradient(to right, #a51300, #bb1600);
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 40px;
}

/* Container-7 */
footer {
    background-color: #333;
}

.half-container {
    max-width: 1100px;
    margin: 0px auto;
}

.container-7 {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    display: flex;
}

.headings {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.heading-underline {
    border: 2px solid #bb1600;
    background-color: #bb1600;
    width: 80px;
    height: 3px;
    margin-top: 10px;
}

.part-1-para {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    padding: 40px 90px 30px 0px;
}

.icon {
    padding-left: 15px
}

.part-2-para {
    font-size: 15px;
    font-weight: 300;
    line-height: 2.5;
    padding-top: 35px;

}

.container-7-part-1 {
    width: 50%;
}

.container-7-part-2 {
    display: flex;
    width: 100%;
}

.product {
    width: 35%;
}

.company {
    width: 35%;
}


/***************************************** Customer Service Page CSS ***************************************/

.cust-container-1 {
    background-image: url(/Images/customer-service.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imp1 {
    font-weight: 300;
    font-size: 55px;
}

.imp2 {
    font-weight: 500;
    font-size: 55px;
    margin-left: 15px;
}


/******************************************** Feature Page CSS*******************************************/

/* feat-container-1 */
.feat-container-1 {
    background-image: url(/Images/featurePageBg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    font-weight: 500;
    font-size: 55px;
}

/* feat-container-2 */
.feat-container-2 {
    margin-top: 5%;
}

.main-title {
    text-align: center;
}

.title1 {
    color: #444444;
    font-size: 33px;
    letter-spacing: 1.3px;
    font-weight: 100;
}

.title2 {
    color: #444444;
    padding-left: 5px;
    font-size: 33px;
    letter-spacing: 1.3px;
}

.feat-para {
    color: #383838;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

/* feat-container-3 */
.feat-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 60px 80px 100px;
}

.feat-box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 30px 60px 50px 60px;
}

.box-heading {
    font-size: 15px;
    font-weight: bold;
    color: #444444;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1.5px;
}